*{
    margin: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,Helvetica, sans-serif;
}
.main{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-bottom: 10px;
    height: 50px;
    
}
header,nav{
    background-color: black;
    height: 30px;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.card{
    padding: 0.5%;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
}
#Shirts{
    margin: 20px;
    text-align: center;
}
strong{
    font-size: large;
    font-weight: 600px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.oldprice{
    text-decoration: line-through;
}
.cards {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#Pants{
    margin: 50px;
    text-align: center;   
}
#Laptops{
    margin: 50px;
    text-align: center; 
}
#Mobiles{
    margin: 50px;
    text-align: center; 
}
.login{
    background-color: black;
    color: aliceblue;
    
}